fastapi==0.110.0
uvicorn==0.27.1
sqlalchemy==2.0.25
pydantic==2.6.1
python-multipart==0.0.9

passlib[bcrypt]==1.7.4
bcrypt==4.0.1

python-jose==3.3.0
email-validator==2.1.0.post1
python-dotenv==1.0.1
requests==2.31.0
pillow==10.2.0

google-generativeai==0.3.2
google-genai==0.3.0
