.profile-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f6f9;
}

.profile-card {
  background: #ffffff;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  text-align: center;
}

.profile-avatar {
  width: 80px;
  height: 80px;
  background: #0d6efd;
  color: white;
  font-size: 36px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.profile-info {
  margin-top: 20px;
  text-align: left;
}

.profile-info p {
  margin-bottom: 10px;
  font-size: 15px;
}
