.navbar {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.loginRegisterBG {
  background-image: url("https://www.bitsathy.ac.in/wp-content/uploads/ew-what-is-generative-ai-model-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.boxx {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  color: #000;
}

.logo {
  width: 80px;
  margin-left: 40px;
}

.problems {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 15px;
}

@media (min-width: 481px) {
  .problems {
    padding: 30px;
  }
}

@media (min-width: 769px) {
  .problems {
    width: 80%;
    margin-left: 10%;
    padding: 50px;
  }
}

@media (min-width: 1025px) {
  .problems {
    width: 60%;
    margin-left: 20%;
    padding: 90px;
  }
}

.submitBtn {
  align-self: center;
  margin-top: 15px;
}

.result {
  border: 0.1px solid black;
  height: 40px;
}

.adminBG {
  min-height: 100vh;
  background-image: url("https://th.bing.com/th/id/OIG4.21NpOOI8XGZodk4k04xI?pid=ImgGn");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  padding: 90px 0 70px;
}

.landingPageBG {
  height: 100vh;
}