.navbar {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.problems{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  padding: 90px;
}
.submitBtn{
  margin-left: 50%;
}
.result{
  border: 0.1px solid black;
  height: 40px;
}