.navbar {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.problems{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  padding: 90px;
}
.submitBtn{
  margin-left: 50%;
}
.result{
  border: 0.1px solid black;
  height: 40px;
}
.admin {
  min-height: 100vh;
  background: url("https://images.unsplash.com/photo-1465447142348-e9952c393450");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  padding: 50px 0 70px;
}